
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 1140px;
  }
}
