<template>
    <div>
        <div class="wt-tabscontenttitle wt-addnew">
            <h2>{{trans('lang.add_your_portfolio')}}</h2>
            <a href="javascript:void(0);" @click="addPortfolio" class="add-portfolio-btn">{{trans('lang.add_portfolio')}}</a>
        </div>
        <ul class="wt-experienceaccordion accordion" id="portfolio-list">
            <span v-if="stored_portfolios" class="portfolio-inner-list">
                 <li v-for="(stored_portfolio, index) in stored_portfolios" :key="index" class="portfolio-element portfolio-inner-list-item" :id="'portfolio-element-'+index">
                    <updatePortfolio
                        :stored_image_name="stored_portfolio.portfolio_image"
                        :dropzone_id ="portfolio.img_id+'-'+index"
                        :img_hidden_id ="'stored_hidden_banner_'+index"
                        :img_hidden_name="'portfolio['+[index]+'][portfolio_hidden_image]'"
                        :img_ref="portfolio.img_ref+'_'+index"
                        :main_accordion_id="'portfolioaccordion['+index+']'"
                        :inner_accordion_id="'portfolioaccordioninner['+index+']'"
                        :stored_portfolio_title="stored_portfolio.portfolio_title"
                        :stored_portfolio_description="stored_portfolio.portfolio_description"
                        :stored_portfolio_img="stored_portfolio.portfolio_hidden_image"
                        :portfolio_title_name="'portfolio['+[index]+'][portfolio_title]'"
                        :portfolio_description_name="'portfolio['+[index]+'][portfolio_description]'"
                        :remove_uploded_image_id="'upload_id-'+index"
                        :uploaded_image_remove_id="'remove_upload_id-'+index"
                        :portfolio_title="portfolio.portfolio_title"
                        :portfolio_description="portfolio.portfolio_description"
                        @removeElement="removeStoredPortfolio(index)"
                    >
                    </updatePortfolio>
                </li>
            </span>
            <span class="portfolio-inner-list">
                <li v-for="(portfolio, index) in portfolios" :key="index" ref="portfoliolistelement" class="portfolio-inner-list-item">
                    <div class="wt-accordioninnertitle">
                        <div :id="'portfolioaccordion['+portfolio.count+']'" class="wt-portfoliotitle collapsed" data-toggle="collapse" :data-target="'#portfolioaccordioninner['+portfolio.count+']'">
                            <figure :class="portfolio.preview_class"></figure>
                            <h3>{{portfolio.portfolio_title}}<span>{{portfolio.portfolio_description}}</span></h3>
                        </div>
                        <div class="wt-rightarea">
                            <a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" :id="'portfolioaccordion['+portfolio.count+']'" data-toggle="collapse" :data-target="'#portfolioaccordioninner['+portfolio.count+']'" aria-expanded="true"><i class="lnr lnr-pencil"></i></a>
                            <a href="javascript:void(0);" class="wt-deleteinfo delete-portfolio"><i class="lnr lnr-trash"></i></a>
                        </div>
                    </div>
                    <div class="wt-collapseexp collapse hide" :id="'portfolioaccordioninner['+portfolio.count+']'" :aria-labelledby="'portfolioaccordion['+portfolio.count+']'" data-parent="#accordion">
                        <fieldset>
                            <div class="form-group form-group">
                                <input type="text" v-bind:name="'portfolio['+[portfolio.count]+'][portfolio_title]'" class="form-control" :placeholder="ph_portfolio_title" v-model="portfolio.portfolio_title">
                            </div>
                            <div class="form-group form-group">
                                <textarea type="text" v-bind:name="'portfolio['+[portfolio.count]+'][portfolio_description]'" class="form-control" :placeholder="ph_portfolio_description" v-model="portfolio.portfolio_description">
                                </textarea>
                            </div>
                            <div class="form-group image_uploaded_placeholder" style="display:none">
                            <ul class="wt-attachfile">
                                <li>
                                    <span class="uploaded-img-name"></span>
                                    <em><a class="dz-remove" href="javascript:;" :id="'remove-uploded-image-'+portfolio.count" @click="removeUploadedImage($event)" >
                                            <span class="lnr lnr-cross"></span>
                                        </a>
                                    </em>
                                </li>
                            </ul>
                            </div>
                            <uploadimage :option="portfolio.option" :id="portfolio.img_id+'-'+portfolio.count" :img_ref="portfolio.img_ref+'_'+portfolio.count"></uploadimage>
                            <input type="hidden" v-bind:name="'portfolio['+portfolio.count+'][portfolio_hidden_image]'" :id="'hidden_banner-'+portfolio.count">
                        </fieldset>
                    </div>
                </li>
            </span>
        </ul>
    </div>
</template>
<script>
const getImageUploadTemplate = () => `
<div class="wt-uploadingbox">
<div class="dz-preview dz-file-preview">
    <img data-dz-thumbnail />
</div>
</div>
`;
import dateTime from './DateTimeComponent'
import uploadimage from './ProjectAwardUploadComponent'
import updatePortfolio from './EditPortfolioComponent'
export default{
    components: {dateTime, uploadimage, updatePortfolio},
    props: ['widget_title', 'ph_portfolio_title', 'ph_portfolio_description', ],
        data(){
            return {
                start_date: '',
                end_date: '',
                stored_portfolios:[],
                portfolio: {
                    image_uploaded: false,
                    portfolio_title: this.ph_portfolio_title,
                    portfolio_hidden_image:'',
                    portfolio_description: this.ph_portfolio_description,
                    count: 0,
                    img_id: 'profile_banner',
                    img_ref: 'profile_banner_ref',
                    preview_class:'dropzone-previews',
                    option:{
                        url: APP_URL+'/freelancer/upload-temp-image',
                        maxFilesize: 2, // MB
                        maxFiles: 1,
                        previewTemplate: getImageUploadTemplate(),
                        previewsContainer: '.dropzone-previews',
                        paramName:'portfolio_img',
                        headers: {
                            'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
                        },
                        init: function() {
                            var myDropzone = this;
                            this.on("addedfile", function(file) {
                                var fileName = file.name;
                                // console.log(fileName.replace(/\s/g,''))
                                var input_hidden_id = jQuery('#'+myDropzone.element.id).next('input[type=hidden]').attr('id');
                                document.getElementById(input_hidden_id).value = file.name;
                                jQuery('#'+myDropzone.element.id).css("display","none");
                                jQuery('#'+myDropzone.element.id).parents('.portfolio-inner-list-item').find('.image_uploaded_placeholder').css("display","block");
                                jQuery('#'+myDropzone.element.id).parents('.portfolio-inner-list-item').find('.image_uploaded_placeholder ul li span.uploaded-img-name').text(file.name);
                            });
                            this.on("removedfile", function(file) {
                                document.getElementById('hidden_banner').value = '';
                            });
                        }
                    },
                },
                portfolios: [],
            }
        },
        methods: {
            getPortfolios(){
                let self = this;
                axios.get(APP_URL + '/freelancer/get-freelancer-portfolios')
                .then(function (response) {
                    if(response.data.type == 'success') {
                        self.stored_portfolios = response.data.portfolios;
                    }
                });
            },
            addPortfolio: function () {
                var expereience_list_count = jQuery('.add-portfolio-btn').parents('.wt-tabsinfo').find('ul#portfolio-list span.portfolio-inner-list li').length;
                var image_placeholder_count = jQuery('.add-portfolio-btn').parents('.wt-tabsinfo').find('ul#portfolio-list span.portfolio-inner-list li').find('figure.dropzone-previews').length;
                if(this.$refs.portfoliolistelement) {
                    this.portfolio.count = expereience_list_count + this.$refs.portfoliolistelement.length;
                } else {
                    this.portfolio.count = expereience_list_count -1;
                }
                if(image_placeholder_count) {
                    image_placeholder_count++
                }
                this.portfolios.push(Vue.util.extend({}, this.portfolio, this.portfolio.count++, this.portfolio.preview_class = this.portfolio.preview_class+'-'+image_placeholder_count ))
                this.portfolio.option.previewsContainer = this.portfolio.option.previewsContainer+'-'+image_placeholder_count;
            },
            removeStoredPortfolio: function (index) {
                this.stored_portfolios.splice(index, 1);
            },
            removeUploadedImage: function (event) {
                var element = event.currentTarget;
                var elementID = element.getAttribute('id');
                jQuery('#'+elementID).parents('.image_uploaded_placeholder').css("display","none");
                jQuery('#'+elementID).parents('.portfolio-inner-list-item').find('.wt-uploadingbox').remove();
                jQuery('#'+elementID).parents('.portfolio-inner-list-item').find('.vue-dropzone').css("display","block");
            }
        },
        mounted: function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            this.start_date = yyyy + '-' + mm + '-' + dd;
            this.end_date = yyyy + '-' + mm + '-' + dd;
            this.portfolio.start_date = yyyy + '-' + mm + '-' + dd;
            this.portfolio.end_date = yyyy + '-' + mm + '-' + dd;
            jQuery(document).on('click', '.delete-portfolio', function (e) {
                e.preventDefault();
                var _this = jQuery(this);
                _this.parents('.portfolio-inner-list-item').remove();
            });
        },
        created: function() {
            this.getPortfolios();
        }
    }
</script>
