<template>
  <div>
    <uploadimage :option="signature.option" :id="signature.img_id" :img_ref="signature.img_ref"></uploadimage>
    <input type="hidden" v-bind:name="'signature_img'" :id="'hidden_signature_img'">
  </div>
</template>
<script>
const getImageUploadTemplate = () => `
<div class="wt-uploadingbox">
<div class="dz-preview dz-file-preview">
    <img data-dz-thumbnail />
</div>
</div>
`;
import uploadimage from './ProjectAwardUploadComponent'
import Event from '../event.js';
export default{
  watch: {
  },
    components: {uploadimage},
    props: ['widget_title', 'server_error_message', 'server_errors', 'ph_signature_title', 'weekdays', 'months', 'ph_select_signature_date'],
        data(){
            return {
                weekdayList:JSON.parse(this.weekdays),
                monthsList:JSON.parse(this.months),
                stored_signatures:[],
                error_message:this.server_errors,
                signature: {
                    image_uploaded: false,
                    signature_title: this.ph_signature_title,
                    signature_hidden_image:'',
                    signature_url:'Award url here',
                    date:this.ph_select_signature_date,
                    count: 0,
                    img_id: 'signature_img',
                    img_ref: 'signature_img_ref',
                    preview_class:'dropzone-signature-previews',
                    option:{
                        url: APP_URL+'/freelancer/upload-temp-image',
                        maxFilesize: 2, // MB
                        maxFiles: 1,
                        previewTemplate: getImageUploadTemplate(),
                        previewsContainer: '.dropzone-signature-previews',
                        paramName:'signature_img',
                        headers: {
                            'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
                        },
                        init: function() {
                            var myDropzone = this;
                            this.on("addedfile", function(file) { 
                                var input_hidden_id = jQuery('#'+myDropzone.element.id).next('input[type=hidden]').attr('id');
                                document.getElementById(input_hidden_id).value = file.name;
                                jQuery('#'+myDropzone.element.id).css("display","none");
                                jQuery('#'+myDropzone.element.id).parents('.signature-inner-list-item').find('.signature_image_uploaded_placeholder').css("display","block");
                                jQuery('#'+myDropzone.element.id).parents('.signature-inner-list-item').find('.signature_image_uploaded_placeholder ul li span.uploaded-img-name').text(file.name);

                            });
                            this.on("removedfile", function(file) { 
                                document.getElementById('hidden_banner').value = ''; 
                            });
                        }
                    },
                },
                signatures: [],
            }
        },
        methods: {
            getAwards(){
                let self = this;
                axios.get(APP_URL + '/freelancer/get-freelancer-signatures')
                .then(function (response) {
                    if(response.data.type == 'success') {
                        self.stored_signatures = response.data.signatures;
                    }
                });
            },
            removeUploadedImage: function (event) {
                var element = event.currentTarget;
                var elementID = element.getAttribute('id');
                jQuery('#'+elementID).parents('.signature_image_uploaded_placeholder').css("display","none");
                jQuery('#'+elementID).parents('.signature-inner-list-item').find('.wt-uploadingbox').remove();
                jQuery('#'+elementID).parents('.signature-inner-list-item').find('.vue-dropzone').css("display","block");
            }
        },
        mounted: function () {
            Event.$emit('signature-component-render', { error: this.error_message});
            jQuery(document).on('click', '.delete-signature', function (e) {
                e.preventDefault();
                var _this = jQuery(this);
                _this.parents('.signature-inner-list-item').remove();
            });
        }
    }
</script>
